extends base

block title
  title= page.title + ' | ' + config.title

block content
  .post
    h1.post-title= page.title
    .post-content
      .author-page
        a.photo(href="javascript:;")
          img(src='#{theme.about.photo_url}')
        .author
          p
            i.fa.fa-users name：
            | #{config.author}
            p
            i(class="fas fa-envelope") #{theme.about.items[0].title}：
            a(href=theme.about.items[0].url,target="_blank")= theme.about.items[0].label
            p
            i(class="fab fa-facebook" ) #{theme.about.items[1].title}：
            a(href=theme.about.items[1].url,target="_blank")= theme.about.items[1].label
            p
            i(class="fab fa-twitter") #{theme.about.items[2].title}：
            a(href=theme.about.items[2].url,target="_blank")= theme.about.items[2].label

      != page.content
    if theme.comment && page.comments
      #comments
        include _partial/comments
block pageOnly
  script(type='text/javascript', src=url_for(theme.js) + '/totop.js' + '?v=' + theme.version, async)
  if theme.comment
    include _partial/comments_js
